.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    top: 0;
    position: fixed;
    z-index: 99;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
}

.navbar &.scrolled {
    background-color: black;
}


.container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .left {
    display: flex;
    align-items: center;
}

.container .left .img {
    height: 2px;
    width: 10px;
    object-fit: cover;
    margin-right: 40px;
}

.container .left span {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.container .right {
    display: flex;
    align-items: center;
}

.container .right img {
    margin: 0 15px;
    cursor: pointer;
}


.profile{
    .option{
    display: none;
    background-color: black;
    border-radius: 5px;
}
.option span{
    padding: 10px;
    cursor: pointer;
}
    &:hover  .option{
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    @media screen and (max-width: 760px) {
        
        .container {
            padding: 0 20px; /* Adjust padding for smaller screens */
        }
    
        .container .left .img {
            margin-right: 20px; /* Adjust margin for smaller screens */
        }
    
        .container .left span {
            margin-left: 10px;
            margin-right: 10px;
        }
    
        .container .right img {
            margin: 0 10px; /* Adjust margin for smaller screens */
        }
    
        .profile .option {
            position: relative; /* Change position for smaller screens */
            top: auto;
            left: auto;
            display: flex;
            flex-direction: column;
            background-color: black;
            border-radius: 5px;
        }
    
        .profile:hover .option {
            position: static; /* Change position for smaller screens */
            display: flex;
            flex-direction: column;
        }
    }
}
