

.row{
    position: absolute;
    margin-top: 40px;
    margin-left: 230px;
    
    
}
.row p{
    font-size:xx-large;
    color: grey;
}
.tl{
    
    display: flex;
    

    position: relative;
    top: 80px;
    margin-left: 120px;
    
}

   
.list  li{
    
    color: gray;
    list-style-type: none;
    justify-content: space-between;  
    padding: 5px;  
}

.bt{
   position: relative;
    margin-top:  50px;
    text-align: left;
    margin-left: 230px;
    color: gray;
    
}
.bt button{
    background: transparent;
    color: gray;
    border: 1px solid gray;
    
}
@media screen and (max-width:760px){
    
        .t1 .list {
           
           display: flex;
           flex-direction: column;
    
        }
       
       
    .containerf{
        
        position: relative;
        margin-top: 1000px; 
    }
    .row{
        position: absolute;
        margin-top: -900px;
        margin-left: 140px;
    }
    
    
    
    .bt{
        margin-top: 0px;
        margin-left: 150px;
    }      
  
}
  